---
import InfoComponent from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
import Banner from "../components/Banner.astro";
import About from "../components/About.astro";
import Header from "../components/Header.astro";
import Testimonial from "../components/Testimonial.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Made by RareBreed IT Consulting" />
    <link rel="icon" type="image/svg" href="favicon.svg" />
    <title>Neighborhood Resources</title>
  </head>
  <body>
    <div class="max-h-screen">
      <div class="bg-gradient-to-r from-teal-600 to-green-500 h-full">
        <Navbar />
        <Banner />
        <p id="services"></p>
        <Header text="What We Offer:" />
        <InfoComponent />
        <About />
        <Header text="What Our Clients Have To Say:" />
        <Testimonial />

        <footer class="bg-gradient-to-r from-teal-700 mt-12 text-white p-4 text-center text-xs lg:text-md">
          Copyright © 2024 RareBreed IT Consulting LLC
        </footer>
      </div>
    </div>
  </body>
</html>
