<div class="flex items-center justify-center" id="about">
  <!--Card-->
  <div
    class="bg-gradient-to-b from-teal-700 to-teal-800 mt-4 md:mt-12 mx-6 lg:w-[100vh] md:w-[75vh] md:mb-4 rounded-2xl"
  >
    <!-- Flex Container -->
    <div class="flex rounded-l-xl">
      <!--Content-->
      <div class="p-12 lg:p-[9vh] sh:p-10">
        <p
          class="text-md md:text-md lg:text-xl sh:text-sm tracking-wide text-center text-white"
        >
          Consisting of 5 members, Micah, Matteo, Malachi, Samuel and David, we
          have years of experience under our belts performing our services. The
          crew at the Neighborhood Resources are well-versed in our trade and
          actively improving.
        </p>
      </div>
    </div>
  </div>
</div>
