<div class="flex items-center justify-center" id="about">
  <!--Card-->
  <div
    class="bg-gradient-to-b from-teal-700 to-teal-900 mt-4 md:mt-12 mx-6 lg:w-[100vh] md:w-[75vh] md:mb-4 rounded-2xl"
  >
    <!-- Flex Container -->
    <div class="flex rounded-l-xl">
      <!--Content-->
      <div class="p-12 lg:p-20 sh:p-10">
        <p
          class="text-md md:text-md lg:text-xl sh:text-sm leading-5 tracking-wide text-center text-white"
        >
          Although this website is new; the business isn't. We've already had a
          year of experience under our belts with starting and keeping up with
          the business. The crew at the Neighborhood Resources are well-versed
          in our trade, and we are planning to improve it, as well. Consisting
          of 5 members, Micah Williams (the one who made the website), Matteo
          Odales ((770) 840-5107), Malachi Woods ((470) 923-9186), and Samuel
          and David Illnystky. Our rates are fair and adaptable, and we are
          experienced and true to our slogan, 'Making Highland Oaks better, one
          house at a time.' If you would like to contact us, text one of the
          numbers above.
        </p>
      </div>
    </div>
  </div>
</div>
