<section
  class="hero h-screen lg:h-[40vh] xl:h-[50vh] sh:h-[70vh] w-full"
  style={{
    backgroundImage: "url('oaks.png')",
  }}
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="text-white">
      <h1 class="mb-5 text-4xl w-[40vh] lg:w-[70vh] font-medium md:font-semibold leading-snug md:leading-normal mx-auto">
        Making Highland Oaks Better.
      </h1>
    </div>
  </div>
</section>

