<section class="flex items-center justify-center">
  <!--Card-->
  <article
    class="bg-gradient-to-r from-teal-500 to-teal-800 mt-6 mx-6 lg:w-[100vh] md:w-[75vh] sh:h-[55vh] md:h-64 md:mb-4 rounded-2xl"
  >
    <!-- Flex Container -->
    <div class="flex h-full flex-col rounded-l-xl md:flex-row">
      <!-- Image -->
      <div
        class="relative h-80 shrink-0 overflow-hidden rounded-t-xl object-cover md:h-full md:w-[31vh] md:rounded-l-xl md:rounded-tr-none lg:w-[37vh]"
      >
        <img
          src="lawn_mower.jpg"
          alt=""
          class="h-full w-full object-cover opacity-40"
        />
        <img
          src="overlay1.svg"
          class="absolute inset-0 h-full w-full object-contain p-8"
        />
      </div>

      <!--Content-->
      <div class="p-8 md:px-8 lg:px-12 lg:mt-3 md:mt-0 sh:mt-3 sh:p-4 sh:px-6">
        <h2 class="text-4xl font-medium md:font-semibold text-white">
          Lawncare
        </h2>

        <p
          class="max-w-4xl md:max-w-2xl my-8 md:my-2 lg:mt-4 sh:mt-4 md:mt-0 text-lg md:text-xl sh:text-md lg:text-xl tracking-wide md:tracking-wider text-white font-light"
        >
          With outstanding lawn equipment and experienced individuals at your
          disposal, the Neighborhood Resources will always make sure to leave
          your lawn trimmed, cut, and flawless.
        </p>
      </div>
    </div>
  </article>
</section>

<section class="flex items-center justify-center">
  <!--Card-->
  <article
    class="bg-gradient-to-r from-teal-500 to-teal-800 mt-12 mx-6 lg:w-[100vh] md:w-[75vh] sh:h-[55vh] md:h-64 rounded-2xl"
  >
    <!-- Flex Container -->
    <div class="flex flex-col md:flex-row rounded-l-xl h-full">
      <!--Content-->
      <div class="p-8 md:px-8 lg:px-12 mt-3 sh:p-4 sh:px-6">
        <h2
          class="text-4xl font-medium md:font-semibold text-white mt-4 md:mt-0"
        >
        Car Washing
        </h2>

        <p
          class="max-w-4xl md:max-w-2xl my-8 md:my-2 lg:mt-4 sh:mt-4 md:mt-0 text-lg md:text-xl sh:text-md lg:text-xl tracking-wide md:tracking-wider text-white font-light"
        >
        With our team being highly skilled and rates adapting to the size of
        your car, our team will always make sure to leave your car looking
        fabulous.
        </p>
      </div>

      <!-- Image -->
      <div
        class="relative h-80 shrink-0 overflow-hidden rounded-b-xl object-cover md:h-full md:w-[31vh] md:rounded-r-xl md:rounded-b-none lg:w-[37vh]"
      >
        <img
          src="car_wash.jpg"
          alt=""
          class="h-full w-full object-cover opacity-40"
        />
        <img
          src="overlay2.svg"
          class="absolute inset-0 h-full w-full object-contain p-8"
        />
      </div>
    </div>
  </article>
</section>˝
