<div class="container mx-auto p-2 md:p-10 lg:w-[107vh] mt-5 md:mt-0" id="testimonials">
  <!-- Grid Container -->
  <div class=" text-white">
    <div class="p-10 rounded-xl  bg-teal-800">
      <!-- Box Header -->
      <div class="flex space-x-4">
        <img
          src="Placeholder.svg"
          alt=""
          class="rounded-full ring-2 ring-green-300"
        />
        <div class="sh:text-sm text-md">
          <h1 class="text-teal-200">Ptony Mirabile</h1>
          <p class="text-teal-200">Customer</p>
        </div>
      </div>
      <!-- Small Text -->
      <p class="mt-6 sh:text-md text-lg font-light tracking-wide md:tracking-wider">
        "David, Samuel, Micah and Malachi, young kids in the neighborhood,
        showed up at my door this morning asking to wash my cars for money. They
        presented themselves more professionally than most adults, so I gave
        them a shot. They are young but worked really hard. I had them vaccumm
        my cars too. Money well spent. I like to encourage that sort of
        entrepreneurship and hard work in kids. If you need your car washed,
        call them..."
      </p>
    </div>
  </div>
</div>
